.login {
  width: 100vw;
  height: 80vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
}

.loginWrapper {
  width: 80%;
  height: 70%;
  gap: 25px;
  display: flex;
  margin: auto;
}

.loginRight {
  margin-bottom: 75px;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-image {
  height: 360px;
}

.loginDesc {
  font-size: 22px;
  text-align: center;
  margin: 10px;
}

.loginBox {
  height: 400px;
  padding: 20px;
  top: 60px;
  position: relative;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  /* margin-top: 20px; */
}

.loginInput:focus {
  outline: none;
}

.recuPin {
  width: 100%;
  align-self: center;
  height: 45px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  border: none;
  background-color: #2f322f;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginButton {
  height: 40px;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  background-color: rgb(69, 67, 143);
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginButton:focus {
  outline: none;
}

.loginButton:disabled {
  cursor: not-allowed;
}

.loginForgot {
  text-align: center;
  color: #191a1b;
}

.visibility-login {
  display: flex;
  align-items: center;
  position: absolute;
  top: 28%;
  right: 20px;
  transform: translateY(50%);
  transition: all 0.2s;
}

@media (max-width: 923px) {
  .login {
    display: contents;
    text-align: center;
  }

  .loginWrapper {
    width: 90%;
  }

  .login-image {
    height: 320px;
  }

  .loginWrapper {
    display: block;
    margin-top: 50px;
  }

  .visibility-login {
    top: 28%;
  }
}
