.inscription {
  width: 100vw;
  height: 105vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
}

.inscription-container {
  width: 70%;
  height: 70%;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin: auto;
}

.inscription-gauche,
.inscription-droite {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-inscription {
  color: rgb(165, 156, 156);
}

.logo-inscription span {
  color: lightseagreen;
}

.communaute-image {
  height: 565px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.phrase-accroche-inscription {
  font-size: 22px;
  margin: 10px;
  text-align: center;
}

.formulaire-inscription {
  position: relative;
  height: 740px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-inscription {
  height: 50px;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.input-inscription:focus {
  outline: none;
}

.inscription-bouton {
  width: 100%;
  align-self: center;
  height: 55px;
  border-radius: 10px;
  border: none;
  background-color: #2f322f;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 10px;
}

.visibility {
  display: flex;
  align-items: center;
  position: absolute;
  top: 65%;
  right: 35px;
  transform: translateY(50%);
  transition: all 0.2s;
}

.visibility-2 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 72%;
  right: 35px;
  transform: translateY(50%);
  transition: all 0.2s;
}

.visibility:hover {
  cursor: pointer;
  color: rgb(69, 67, 143);
}

.avatar-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
}

.img-avatar {
  width: 100px;
  border-radius: 50%;
  border: 2px solid gray;
  object-fit: cover;
  height: 100%;
}

.icon-ajout-image {
  position: absolute;
  font-size: large;
  margin-top: 37px;
  left: 42px;
  color: black;
  background: white;
  cursor: pointer;
  z-index: 99;
}

/* condition generale utilisation */
.cgu-style {
  color: blue;
  cursor: pointer;
}

/* gestion du responsive design */

@media (max-width: 980px) {
  .inscription {
    display: contents;
    justify-content: center;
  }

  .inscription-container {
    width: 90%;
    gap: 0;
    display: block;
  }

  .communaute-image {
    margin-top: -50px;
  }

  .inscription-gauche {
    margin-top: 60px;
  }
  .inscription-droite {
    margin-bottom: 25px;
  }

  .phrase-accroche-inscription {
    margin-bottom: 50px;
  }

  .formulaire-inscription {
    height: 710px;
  }

  .visibility {
    top: 68%;
  }

  .visibility-2 {
    top: 75%;
  }
}

@media (max-width: 430px) {
  .phrase-accroche-inscription {
    font-size: 18px;
  }
}

@media (max-width: 390px) {
  .phrase-accroche-inscription {
    font-size: 16px;
  }

  .formulaire-inscription {
    height: 690px;
  }

  /* .visibility {
    top: 70%;
  }

  .visibility-2 {
    top: 77%;
  } */
}
