.admin-container {
  width: 90%;
  margin-top: 70px;

  Form {
    margin-top: 70px;
    left: 250px;
  }

  @media screen and (max-width: 1624px) {
    width: 80%;
  }

  @media screen and (max-width: 1019px) {
    flex: 3.3;
  }

  @media screen and (max-width: 960px) {
    flex: 8;
  }
  @media screen and (max-width: 875px) {
    flex: 6.4;
  }
  @media screen and (max-width: 740px) {
    flex: 8;
  }
}
