.AcceuilTopbarContainer {
  height: 50px;
  width: 100%;
  background-color: rgb(94, 94, 97);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.AcceuilTopbarLeft {
  flex: 3;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  margin-left: 50px;
  margin-right: 20px;
  font-weight: bold;
  color: rgb(165, 156, 156);
  cursor: pointer;
}

.logo span {
  color: lightseagreen;
}

.accueilTopbarRight {
  flex: 5;
  display: flex;
}

/*  */

.accueilTopbarIcons {
  display: flex;
}

.accueilTopbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accueilTopbarIconItem-2 {
  /* margin-right: 15px; */
  cursor: pointer;
  position: relative;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
  left: 625px;
}

.accueilTopbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.accueilTopbarIconName {
  margin-left: 5px;
  color: black;
}

.accueilTopbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
