.connexion {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
}

.connexion-container {
  width: 80%;
  height: 70%;
  gap: 25px;
  display: flex;
  margin: auto;
}

.connexion-phrase-accroche {
  font-size: 22px;
  text-align: center;
  margin: 10px;
}

.logo-connexion {
  color: rgb(165, 156, 156);
}

.logo-connexion span {
  color: lightseagreen;
}

.connexion-droite {
  margin-bottom: 75px;
}

.connexion-gauche,
.connexion-droite {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connexion-image {
  height: 360px;
  border-radius: 50px;
}

.connexion-formulaire {
  height: 400px;
  padding: 20px;
  top: 60px;
  position: relative;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.connexion-input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.connexion-input:focus {
  outline: none;
}

.recup-codepin {
  width: 100%;
  align-self: center;
  height: 45px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  border: none;
  background-color: #2f322f;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.connexion-bouton {
  height: 40px;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  background-color: rgb(69, 67, 143);
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.connexion-bouton:focus {
  outline: none;
}

.connexion-bouton:disabled {
  cursor: not-allowed;
}

.password-oubli {
  text-align: center;
  color: #191a1b;
}

.visibility-connexion {
  display: flex;
  align-items: center;
  position: absolute;
  top: 28%;
  right: 35px;
  transform: translateY(50%);
  transition: all 0.2s;
}

@media (max-width: 926px) {
  .connexion {
    display: contents;
    text-align: center;
  }

  .connexion-container {
    width: 90%;
  }

  .connexion-image {
    height: 320px;
  }

  .connexion-container {
    display: block;
    margin-top: 50px;
  }

  .visibility-connexion {
    top: 28%;
  }
}
